@import url("https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.bebas-neue-regular {
  font-family: "Bebas Neue", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.montserrat-regular {
  font-family: "Montserrat", sans-serif;
  font-optical-sizing: auto;
  font-weight: 500;
  font-style: normal;
}

.inter-regular {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-weight: 500;
  font-style: normal;
}

.flex-column {
  flex-direction: column;
}
.flex {
  display: flex;
}
.flex-wrap {
  flex-wrap: wrap;
}
.justify-center {
  justify-content: center;
}
.justify-end {
  justify-content: flex-end;
}
.justify-between {
  justify-content: space-between;
}
.align-center {
  align-items: center;
}
.section1 {
  width: 1440px;
  margin: 0 auto;
  height: 773px;
  display: flex;
  flex-direction: column;
  background-image: url("./image.png");
  align-items: center;
  background-size: cover;
  background-position: center;
}
.nav {
  width: 1224px;
  margin: 0 auto;
  height: 100px;
  display: flex;
  justify-content: space-between;
  align-items: baseline;
  align-items: center;
}
.nav img {
  height: 34px;
  width: 100px;
}
.menu {
  display: flex;
  justify-content: space-between;
  font-size: 18px;
  gap: 60px;
  font-family: "Inter", sans-serif;
  color: #ffffff;
}
.menu img {
  height: 20px;
  width: 20px;
}
.lan {
  height: 24px;
  width: 24px;
  background-color: #ffffff;
  border-radius: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 12px;
  color: black;
}
.words {
  display: flex;
  flex-direction: column;
  /* justify-content: center; */
  align-items: center;
  justify-content: space-between;
  margin-top: 69px;
}
.pure {
  font-size: 80px;
  display: flex;

  font-family: "Bebas Neue", sans-serif;
  color: #ffffffcc;
  font-weight: 400;
  margin-top: -15px;
}
.awaits {
  font-size: 250px;
  font-family: "Bebas Neue", sans-serif;
  display: flex;
  color: #ffffffcc;
  font-weight: 400;
  margin-top: -30px;
}
.year {
  font-size: 64px;
  font-family: "Bebas Neue", sans-serif;
  display: flex;
  color: #ffffffcc;
  font-weight: 900;
  margin-top: -50px;
}
/* .section21 {
  width: 1440px;
  margin: 0 auto;
  height: 500px;
  display: flex;
  flex-direction: column;
  background-image: url("./location.png");
  align-items: center;
  background-size: cover;
  background-position: center;
} */

.section2 {
  display: flex;
  width: 1440px;
  margin: 0 auto;
  height: 435px;
  background-image: url("./location.png");
  justify-content: center;
  gap: 32px;
  /* border-radius: 40px; */
}
.images {
  display: flex;
  overflow: hidden;
  justify-content: space-between;
  height: 370px;
  width: 276px;
  border-radius: 40px;
  /* gap: 40px; */
  background-image: url("./image.png");
  align-items: center;
  justify-content: center;
  background-size: cover;
  box-shadow: 8px 8px #29728b40, -8px -8px #1f72aa75;
}
.images_1 {
  display: flex;
  justify-content: space-between;
  overflow: hidden;
  height: 370px;
  width: 276px;
  border-radius: 40px;
  /* gap: 40px; */
  background-image: url("./image_1.png");
  align-items: center;
  justify-content: center;
  background-size: cover;
  box-shadow: 8px 8px #29728b40, -8px -8px #1f72aa75;
}
.images_2 {
  display: flex;
  justify-content: space-between;
  overflow: hidden;
  height: 370px;
  width: 276px;
  border-radius: 40px;
  /* gap: 40px; */
  background-image: url("./image_2.png");
  align-items: center;
  justify-content: center;
  background-size: cover;
  box-shadow: 8px 8px #29728b40, -8px -8px #1f72aa75;
}
.images_3 {
  display: flex;
  justify-content: space-between;
  overflow: hidden;
  height: 370px;
  width: 276px;
  border-radius: 40px;
  /* gap: 40px; */
  background-image: url("./image_3.png");
  align-items: center;
  justify-content: center;
  background-size: cover;
  box-shadow: 8px 8px #29728b40, -8px -8px #1f72aa75;
}
.overlay {
  text-align: center;
  font-family: "Bebas Neue", sans-serif;
  font-weight: 400;
  font-size: 37px;
  color: #fdfdfecc;
}

.overlay {
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}

.overlay:hover {
  background-color: rgba(0, 0, 0, 0.7);
}
.section3 {
  background-image: url("./roadmap.png");
  background-size: cover;
  background-position: center;
  width: 1440px;
  height: 1022px;
  margin: 0 auto;
  position: relative;
}

.header_2 {
  /* border: 1px solid black; */
  width: 1224px;
  height: 204px;
}
.roadmap_header {
  font-family: "Inter";
  font-size: 42px;
  font-style: bold;
  font-weight: 600;
  color: #000000;
}
.roadmap_hero {
  width: 1200px;
  height: 640px;
  margin-bottom: 120px;
}
.roadmap_header1 {
  font-family: "Inter";
  font-size: 20px;
}

.btn {
  /* border: 1px solid black; */
  width: 513px;
  height: 640px;
}

.day1 {
  width: 513px;
  height: 112px;
  border-radius: 120px;
  background-color: #eee9d9;
  border: 4px solid #eee9d9;
}
.day2 {
  width: 513px;
  height: 112px;
  border-radius: 120px;
  background-color: #8bb8c1cc;
  border: 4px solid #8bb8c1cc;
}
.day3 {
  width: 513px;
  height: 112px;
  border-radius: 120px;
  background-color: #aad8d7cc;
  border: 4px solid #aad8d7cc;
}
.day4 {
  width: 513px;
  height: 112px;
  border-radius: 120px;
  background-color: #8bc0bdcc;
  border: 4px solid #8bc0bdcc;
}
.day5 {
  width: 513px;
  height: 112px;
  border-radius: 120px;
  background-color: #97cce0cc;
  border: 4px solid #97cce0cc;
}
.place_name {
  font-family: "Inter";
  font-size: 24px;
  margin-left: 15px;
  font-weight: 500;
  font-style: #09090b;
}

.destination {
  font-family: montserrat, sans-serif;
  font-size: 12px;
  margin-left: 15px;
  font-weight: 400;
  font-style: #18181b;
}
.day_icon {
  background-color: #fff;
  height: 48px;
  width: 42px;
  border-radius: 100%;
  margin-right: 15px;
}

.map1 {
  width: 34px;
  height: 34px;
  position: absolute;
  top: 450px;
  left: 1050px;
}
.map2 {
  width: 34px;
  height: 34px;
  position: absolute;
  top: 300px;
  left: 850px;
}
.map3 {
  width: 34px;
  height: 34px;
  position: absolute;
  top: 450px;
  left: 700px;
}
.map4 {
  width: 34px;
  height: 34px;
  position: absolute;
  top: 700px;
  left: 800px;
}
.hover1 {
  width: 245px;
  height: 245px;
  position: absolute;
  top: 342px;
  left: 930px;
}
.hover2 {
  width: 245px;
  height: 245px;
  position: absolute;
  top: 220px;
  left: 745px;
}
.hover3 {
  width: 245px;
  height: 245px;
  position: absolute;
  top: 375px;
  left: 630px;
}
.hover4 {
  width: 245px;
  height: 245px;
  position: absolute;
  top: 200px;
  left: 550px;
}
.hover5 {
  width: 245px;
  height: 245px;
  position: absolute;
  top: 250px;
  left: 800px;
}
.hover1,
.hover2,
.hover3,
.hover4,
.hover5 {
  display: none;
}
.day1:hover + .hover1 {
  display: block;
}
.day2:hover + .hover2 {
  display: block;
}
.day3:hover + .hover3 {
  display: block;
}
.day4:hover + .hover4 {
  display: block;
}
.day5:hover + .hover5 {
  display: block;
}
.day1:hover {
  border: 4px solid white;
}
.day2:hover {
  border: 4px solid white;
}
.day3:hover {
  border: 4px solid white;
}
.day4:hover {
  border: 4px solid white;
}
.day5:hover {
  border: 4px solid white;
}
.section-4 {
  background-image: url("./price.png");
  background-size: cover;
  background-position: center;
  width: 1440px;
  height: 1120px;
  margin: 0 auto;
}

.header_1 {
  /* border: 1px solid black; */
  width: 1224px;
  height: 204px;
}
.price_header {
  font-family: "Inter";
  font-size: 42px;
  font-style: bold;
  font-weight: 600;
  color: #000000;
}
.price_header1 {
  font-family: "Inter";
  font-size: 20px;
}
.price_info {
  /* border: 1px solid black; */
  width: 1220px;
  height: 527px;
}
.package {
  border-radius: 40px;
  /* border: 1px solid black; */
  width: 384px;
  height: 527px;
  background-color: #fafbfc;
}
.package_header {
  /* border: 1px solid black; */
  width: 336px;
  height: 92px;
  gap: 10px;
}
.package_header img {
  height: 36px;
  width: 36px;
}
.package_hero {
  /* border: 1px solid black; */
  width: 384px;
  height: 435px;
}
.hero_info {
  /* border: 1px solid black; */
  width: 336px;
  height: 78px;
}
.hero_info h1 {
  font-family: "montserrat";
  font-size: 40px;
  font-style: bold;
  font-weight: 600;
  color: #303030;
}
.hero_info p {
  font-family: "Inter";
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  color: #919191;
}
.package_list h2 {
  font-family: "inter";
  font-size: 18px;
  font-style: medium;
  font-weight: 500;
  color: #303030;
  margin-bottom: 8px;
  margin-left: 40px;
}

.package_list {
  /* border: 1px solid black; */
  width: 336px;
  height: 180px;
  font-family: "inter";
  font-size: 14px;
  font-style: medium;
  font-weight: 500;
  color: #303030;
  margin-bottom: 8px;
}
.package_footer {
  /* border: 1px solid black; */
  width: 336px;
  height: 48px;
  margin-bottom: 48px;
  border-radius: 40px;
  background-color: #a4d1e2;
  text-decoration: none;
  font-family: "inter";
  font-size: 16px;
  font-style: medium;
  font-weight: 600;
  font-style: bold;
}

.check_list img {
  height: 20px;
  width: 20px;
  margin-top: 4.41px;
  border-radius: 1px;
  color: #0b151e;
  font-style: bold;
}
.package_list p {
  font-family: "inter";
  font-size: 14px;
  font-style: medium;
  font-weight: 500;
  color: #303030;
  margin-bottom: 8px;
  margin-left: 20px;
}
.package:hover {
  box-shadow: 8px 8px #4aa6c240, -8px -8px #010b1175;
}
.package:hover .package_footer {
  background-color: black;
  color: white;
}
.package_header img:hover {
  filter: contrast(0.8);
}
.section4_footer {
  /* border: 1px solid black; */
  width: 1224px;
  height: 204px;
  margin-top: 185px;
}
.social {
  /* border: 1px solid black; */
  height: 44px;
  width: 358px;
}
.facebook {
  height: 20px;
  width: 20px;
  margin-left: 30px;
}
.instagram {
  height: 20px;
  width: 20px;
  margin-left: 30px;
}
.facebook1 {
  height: 44px;
  width: 167px;
  background-color: #fafbfc;
  border-radius: 40px;
}
.facebook1 p {
  font-family: "montserrat";
  font-size: 18px;
  font-style: bold;
  font-weight: 700;
  color: #6972b5;
  margin-right: 30px;
}

.instagram1 {
  height: 44px;
  width: 171px;
  background-color: #fafbfc;
  border-radius: 40px;
}
.instagram1 p {
  font-family: "montserrat";
  font-size: 18px;
  font-style: bold;
  font-weight: 700;
  color: #6972b5;
  margin-right: 30px;
}
.tour {
  height: 35px;
  width: 101px;
}
